.container{
    text-align: center;
    border: 1px solid cadetblue;
    margin: 20px auto;
    width: 40%;
    background-color: khaki;
    position: relative;
    height: 550px;
    padding: 20px 0px;
}
.card {
    border: 1px solid cadetblue;
    margin: 20px auto;
    width: 85%;
    background-color: antiquewhite;
    position: relative;
    height: 400px;
    display: inline-block;
    overflow: auto;
}

h1{
    text-align: center;
}

button{
    padding: 10px 20px;
}

.dishContainer {
    width: auto;
    height: 50px;
    background-color: khaki;
    margin: 10px 20px;

}